<section class="homeMenu">
  <div class="gallery">
    <img src="../../../../../assets/images/11.png" alt="a hot air balloon" (click)="redirectTo('/examenes')">
    <img src="../../../../../assets/images/22.png" (click)="redirectTo('/horarios')">
    <img src="../../../../../assets/images/33.png" alt="a small boat" (click)="redirectTo('/reportes')">
    <img src="../../../../../assets/images/44.png" alt="a forest" (click)="redirectTo('/banco-preguntas')">
    <p class="image-text im5" style="--index: 1;"></p>
    <p class="image-text im1" style="--index: 2;">EXAMENES</p>
    <p class="image-text im2" style="--index: 3;">HORARIOS</p>
    <p class="image-text im3" style="--index: 4;">REPORTES</p>
    <p class="image-text im4" style="--index: 5;">BANCO DE PREGUNTAS</p>
  </div>
</section>
