<section class="homeMenu">
  <div class="gallery">
    <img src="../../../../../assets/images/1.png" alt="a hot air balloon" (click)="redirectTo('/asignados')">
    <img src="../../../../../assets/images/2.png" (click)="redirectTo('/notas')">
    <img src="../../../../../assets/images/3.png" alt="a small boat" (click)="redirectTo('/mi-horario')">
    <img src="../../../../../assets/images/4.png" alt="a forest" (click)="redirectTo('/contenidos')">
    <p class="image-text im5" style="--index: 1;"></p>
    <p class="image-text im1" style="--index: 2;">EXAMENES</p>
    <p class="image-text im2" style="--index: 3;">NOTAS</p>
    <p class="image-text im3" style="--index: 4;">HORARIOS</p>
    <p class="image-text im4" style="--index: 5;">CONTENIDOS</p>
    <p class="image-text im4" style="--index: 5;">ASIGNATURAS</p>
  </div>
</section>
