<!-- Combo box para listar semestres -->
<div class="paginationBar">
<select #selectSemestre (change)="onSemestreSelect(selectSemestre.value)">
  <option *ngFor="let semestre of semestres" [value]="semestre">{{ semestre }}</option>
</select>

  <div class="pagination-container">
    <!-- Botón para la semana anterior -->
    <div class="pagination-number arrow" (click)="previousWeek()">
      <svg width="18" height="18">
        <use xlink:href="#left" />
      </svg>
      <span class="arrow-text">Previous</span>
    </div>

    <!-- Mostrar las semanas disponibles en orden ascendente -->
    <div class="pagination-number" *ngFor="let semana of getArray(semanas)" (click)="fetchHorariosSemana(semana)">
      {{ semana }}
    </div>

    <!-- Botón para la semana siguiente -->
    <div class="pagination-number arrow" (click)="nextWeek()">
      <svg width="18" height="18">
        <use xlink:href="#right" />
      </svg>
    </div>
  </div>

  <!-- SVG para flechas -->
  <svg class="hide">
    <symbol id="left" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></symbol>
    <symbol id="right" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></symbol>
  </svg>
</div>




<div class="calendar">
  <!-- Timeline -->
  <div class="timeline">
    <div class="spacer"></div>
    <div class="time-marker">8 AM</div>
    <div class="time-marker">9 AM</div>
    <div class="time-marker">10 PM</div>
    <div class="time-marker">11 PM</div>
    <div class="time-marker">12 PM</div>
    <div class="time-marker">1 PM</div>
    <div class="time-marker">2 PM</div>
    <div class="time-marker">3 PM</div>
    <div class="time-marker">4 PM</div>
  </div>

  <!-- Días y horarios -->
  <div class="days">
    <!-- Lunes -->
    <div class="day mon">
      <div class="date">
        <p class="date-num">Lunes</p>
      </div>
      <div class="events">
        <div *ngFor="let horario of lunes" class="event start-{{ getStartClass(horario[2]) }} end-{{ getEndClass(horario[2]) }} {{ getNextColor() }}">
          <p *ngIf="horario[6]!='SI'" class="title">Sin grupos asignados</p>
          <p *ngIf="horario[6]!='SI'" class="title">Sin examenes asignados </p>
          <p class="titulo"><a [routerLink]="['/new-exam', horario[0]]">Crear examen</a>
</p>

          <p class="time">{{ horario[2] }} - {{ getEndClass(horario[2]) }}:00 </p>
        </div>
      </div>
    </div>
    <!-- Martes -->
    <div class="day tues">
      <div class="date">
        <p class="date-num">Martes</p>
      </div>
      <div class="events">
        <div *ngFor="let horario of martes" class="event start-{{ getStartClass(horario[2]) }} end-{{ getEndClass(horario[2]) }} {{ getNextColor() }}">
          <p *ngIf="horario[6]!='SI'" class="title">Sin grupos asignados</p>
          <p *ngIf="horario[6]!='SI'" class="title">Sin examenes asignados </p>
<p class="titulo"><a [routerLink]="['/new-exam', horario[0]]">Crear examen</a>
</p>

          <p class="time">{{ horario[2] }} - {{ getEndClass(horario[2]) }}:00 </p>
        </div>
      </div>
    </div>
    <!-- Miércoles -->
    <div class="day wed">
      <div class="date">
        <p class="date-num">Miercoles</p>
      </div>
      <div class="events">
        <div *ngFor="let horario of miercoles" class="event start-{{ getStartClass(horario[2]) }} end-{{ getEndClass(horario[2]) }} {{ getNextColor() }}">
          <p *ngIf="horario[6]!='SI'" class="title">Sin grupos asignados</p>
          <p *ngIf="horario[6]!='SI'" class="title">Sin examenes asignados </p>
          <p *ngIf="horario[7]!='SI'" class="title">Sin examenes asignados </p>
<p class="titulo"><a [routerLink]="['/new-exam', horario[0]]">Crear examen</a>
</p>

          <p class="time">{{ horario[2] }} - {{ getEndClass(horario[2]) }}:00 </p>
        </div>
      </div>
    </div>
    <!-- Jueves -->
    <div class="day thurs">
      <div class="date">
        <p class="date-num">Jueves</p>
      </div>
      <div class="events">
        <div *ngFor="let horario of jueves" class="event start-{{ getStartClass(horario[2]) }} end-{{ getEndClass(horario[2]) }} {{ getNextColor() }}">
          <p *ngIf="horario[6]!='SI'" class="title">Sin grupos asignados</p>
          <p *ngIf="horario[6]!='SI'" class="title">Sin examenes asignados </p>
<p class="titulo"><a [routerLink]="['/new-exam', horario[0]]">Crear examen</a>
</p>

          <p class="time">{{ horario[2] }} - {{ getEndClass(horario[2]) }}:00 </p>
        </div>
      </div>
    </div>
    <!-- Viernes -->
    <div class="day fri">
      <div class="date">
        <p class="date-num">Viernes</p>
      </div>
      <div class="events">
        <div *ngFor="let horario of viernes" class="event start-{{ getStartClass(horario[2]) }} end-{{ getEndClass(horario[2]) }} {{ getNextColor() }}">
          <p *ngIf="horario[6]!='SI'" class="title">Sin grupos asignados</p>
          <p *ngIf="horario[6]!='SI'" class="title">Sin examenes asignados </p>
<p class="titulo"><a [routerLink]="['/new-exam', horario[0]]">Crear examen</a>
</p>

          <p class="time">{{ horario[2] }} - {{ getEndClass(horario[2]) }}:00 </p>
        </div>
      </div>
    </div>
  </div>
</div>
