<!-- Emparejamiento -->
<div class="form-group">
  <label ><p class="subtitle">Ordenar Conceptos</p></label>
  <!-- Rounded switch -->
  <label class="switch">
    <p class="privacy-text">Pregunta {{privacy ? "Privada" : "Pública"}}</p>
    <input type="checkbox" [(ngModel)]="privacy">
    <span class="slider round"></span>
  </label>

  <label class="questionText" for="questionText">Texto de la Pregunta</label>
  <textarea id="questionText" [(ngModel)]="questionText" placeholder="Escribe la pregunta aquí"></textarea>
</div>

<div class="matching-group">
  <label for="sorting">Opciones: </label>
  <div class="sorting-container">
    <div *ngFor="let pair of pairs; let i = index" class="sort-item">
      <span class="concept-label"><p class="concepto">Concepto {{ i + 1 }}</p></span>
      <input type="text" [(ngModel)]="pairs[i].element" placeholder="Emparejar con">
      <span class="remove-pair" *ngIf="i > 1" (click)="removePair(i)">✖</span> <!-- Mostrar la X a partir del segundo par -->
    </div>
  </div>
  <button type="button" class="add-pair" (click)="addPair()">Añadir Par</button>
</div>

<button type="button" class="add-question" (click)="addQuestion()">
  <em *ngIf="validarRutaBanco()">Actualizar</em>
  <em *ngIf="!validarRutaBanco()">Añadir Pregunta</em>
</button>
<hr/>
